%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Location:
  = @restaurant.location
%p
  %b Telephone:
  = @restaurant.telephone

- @reviews.each do |review|
  %h4 
    Review by 
    = review.user.name
  .rating
    Rating:
    = review.rating 
  .text
    Review
    = review.text

- if current_user
  - if @restaurant.reviews.where(user_id: current_user.id)
    mod
  -else
    = link_to 'Rate it', new_review_path(restaurant_id: @restaurant.id)

%div
  = link_to 'Back', restaurants_path
