%p#notice= notice

%p
  %b Name:
  = @restaurant.name
%p
  %b Location:
  = @restaurant.location
%p
  %b Telephone:
  = @restaurant.telephone

- @reviews.each do |review|
  .rating= review.rating 
  .text= review.text

- if current_user
  = link_to 'Add a review', new_review_path

%div
  = link_to 'Back', restaurants_path
